@font-face {
  font-family: "Kimberley";
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf)
    format("truetype");
}


.exmpl {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}
.exmpl img {
  height: 140%;
  width: 140%;
}

body {
  background-color: #d7dbdf;
  font-family: "Kimberley", sans-serif;
}

.top_panel {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.top_left {
  flex: 1;
  font-weight: bold;
  font-size: 40px;
  color: #6cd3df;
}

.top_center {
  flex: 3;
  margin-top: 15px;
}

.top_center div {
  display: inline;
  margin: 59px;
  color: #22356f;
  font-weight: bold;
  font-size: 25px;
}

.top_center a {
  text-decoration: none;
}

.top_right {
  flex: 1;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  background-color: #6cd3df;
  border-radius: 50px;
}

.top_right a {
  color: white;
  text-decoration: none;
}

.intro {
  margin-bottom: 58px;
  /* padding-bottom */
  margin-top: 20%;
}
.m_text {
  margin-top: 100px;
  margin-left: 15%;
  font-weight: bold;
  font-size: 35px;
  color: #6cd3df;
}

.main_text {
  flex: 1;
  color: #22356f;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.a_text {
  color: #22356f;
  font-size: 20px;
}

.round {
  border-radius: 400px;
  border: 3px;
}

.popal {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.question {
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}
