{% extends "base.html" %}

{% block content %}

<div class="main_text ">
    <div> <strong>English Quizium</strong> - это онлайн-тренажер по английскому языку, который позволяет самостоятельно проверить знания по конкретным темам.</div>
</div>

<div class="popal">
    <div class="exmpl">
        <img src="https://i.pinimg.com/736x/18/22/f2/1822f2ebcffa432869434a959e9260c7--marketing-watches.jpg" alt="">
        </div>
<div class="a_text" >Тесты – это отличная возможность узнать уровень своих знаний, поэтому мы подготовили для Вас целый сборник тестов по английскому языку на разные темы. Почему все так любят проходить тесты? Это наиболее простой, быстрый и точный способ определить уровень знаний человека.</div>

</div> 



{% endblock  %}